# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
finvest/

# Database
db.sqlite3
db_backup.sql
db_backup.dump

# Static collected
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env
